
body {
    background: #BDBDBD;
    margin: 0;
}

.hero {
    background-image: url('/website/assets/img/bg.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 5rem;
    color: white;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.subtitle {
    font-size: 3rem;
    color: white;
    text-align: center;
}