<!-- your html code here -->
<div class="container">
    <div class="row">
        <div class="col-md-7">
            <h2 class="fw-bold">This First heading<span class="text-secondary"> Will Catch Your Eye</h2>

            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem, enim voluptas reiciendis quaerat sed
                quo quas a amet culpa ipsum? Quam excepturi quas atque ratione aspernatur, cum molestiae dolorum
                expedita. A ver si alguien lo lee</p>
        </div>
        <div class="col-md-5 text center">
            <img src="assets/img/1.jpg" alt="" class="rounded-circle"
                style="width: 250px; height: 250px; object-fit: cover;">
        </div>
    </div>
</div>